In [ ]:
a=10
b=20
c=20.4
d=2+3j
e='python'
print(a+b)
print(type(a))
print(type(c))
print(type(d))
print(type(e))

30
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
a=int(input("Enter a value:"))
b=int(input("enter b value:"))
print("add=",a+b)
print("sub=",a-b)
print("mul=",a*b)
print("div=",a/b)
print("mod=",a%b)

Enter a value:2
enter b value:3
add= 5
sub= -1
mul= 6
div= 0.6666666666666666
mod= 2

In [ ]:
a=20.5
b=30.2
print("add=",a+b)
print("sub=",a-b)
print("mul=",a*b)
print("div=",a/b)
print("mod=",a%b)

add= 50.7
sub= -9.7
mul= 619.1
div= 0.6788079470198676
mod= 20.5

In [ ]:
d=2+3j
print(type(d))

<class 'complex'>

In [ ]:
c=10
d=20.2
e=complex(c)
print(e)
e=complex(c,d)
print(e)
a=2+3j
b=4+5j
print("add=",a+b)
print("sub=",a-b)
print("mul=",a*b)
print("division=",a/b)

(10+0j)
(10+20.2j)
add= (6+8j)
sub= (-2-2j)
mul= (-7+22j)
division= (0.5609756097560976+0.0487804878048781j)

In [ ]:
a="python"
print(a[0])
print(a[-2])
print(a[1:4])
print(a[:3])
print(a.upper())
print(a.isalpha())
print(a.isdigit())
print(a.index('t'))
print(a.split("y"))

p
o
yth
pyt
PYTHON
True
False
2
['p', 'thon']

In [ ]:
n=int(input("Enter any number for multiplication table:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter any number for multiplication table:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50